// Navigation code here
header {
    
    
    .header {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: 0 auto;
        color: @header-font-color;
    
    }    
    
    h1 {
       padding-top: 15px;
       padding-bottom: 15px;
    }
    
    nav {
        
        list-style: none;
        padding-bottom: 10px;
    }
    
    a {
        text-decoration: none;
        color:@nav-bg;
        font-size: 1.2rem;
        font-style: @nav-bg;
        
        
    }
    
    }
    