// Navigation code here

    
    
    .header {
        display: flex;
        justify-content: space-evenly;
        
        margin: 0 auto;
        color: @header-font-color;
        .nav-border;
    }    
    
    h1 {
       padding-top: 15px;
       padding-bottom: 15px;
    }
    
    nav {
       padding-left: 500px;
       padding-right: 500px;
        list-style: none;
        padding-bottom: 10px;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        font-style: @nav-bg;
        
        
    }
    
    img {
        display: flex;
        margin: 0 auto;
    }

    
    